<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="container-scroller">
    <div class="main-panel">
        <th:block th:include="~{fragments/_navbar}"></th:block>

        <h3>All users</h3>
        <table class="table-responsive-lg table-light" style="width: 75%">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Profile</th>
            </tr>
            <tr th:each="u : ${allUsers}" th:object="${u}">
                <td th:text="*{id}"></td>
                <td th:text="*{username}"></td>
                <td th:text="*{firstName}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{email}"></td>
                <td th:text="${u.roles}"></td>
                <td><a th:href="@{/users/details/{id}(id = *{id})}">Details</a></td>
            </tr>
        </table>


    </div>
</div>
</body>
</html>