<!DOCTYPE html>
<html lang="zxx" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:include="~{fragments/head}"></th:block>


<body>
<div class="container-scroller">
    <!-- partial:../partials/_navbar.html -->
    <th:block th:include="~{fragments/_navbar}"></th:block>

    <!-- partial -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" data-aos="fade-up">
                        <div class="card-body">
                            <div class="aboutus-wrapper">
                                <h1 class="mt-5">
                                    About Us
                                </h1>
                                <p class="font-weight-600 fs-15">
                                    This is my final project for Java Web course. Web site for sports news.</br>
                                    Coming soon -> live scores and league standings features provided by Football-API.
                                </p>
                                <img
                                        src="/img/sports/Sports_8.jpg"
                                        alt="banner"
                                        class="img-fluid mb-5"
                                        width="2000"
                                        height="2000"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller ends -->
<!-- partial:../partials/_footer.html -->
<th:block th:include="~{fragments/_footer}"></th:block>

<!-- partial -->
<!-- inject:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->

<script src="/vendors/aos/dist/aos.js/aos.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="/js/demo.js"></script>
<script src="/js/jquery.easeScroll.js"></script>
<script src="/js/jquery.easeScroll.js"></script>
<!-- End custom js for this page-->
</body>
</html>
