<!DOCTYPE html>
<html lang="zxx" xmlns:th="https://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>


<!--private String title;
    private String content;
    private UserEntity author;
    private CategoryEntity category;
    private Set<CountryEntity> countries = new HashSet<>();
    private Set<CommentEntity> comments = new HashSet<>();
    private int views;
    private LocalDateTime addedOn;
    private String imageUrl;-->

<body>
<div class="container-scroller">
    <!-- partial:../partials/_navbar.html -->
    <th:block th:include="~{fragments/_navbar}"></th:block>

    <!-- partial -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" data-aos="fade-up">
                        <div class="card-body">
                            <h1 class="mt-5 text-center mb-5">
                                Add News Article
                            </h1>
                            <form
                                    enctype="multipart/form-data"
                                    method="POST"
                                    th:action="@{/news/add}"
                                    th:object="${newsAddBindingModel}">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="title">Title: </label>
                                            <input
                                                    aria-describedby="title"
                                                    class="form-control"
                                                    id="title"
                                                    name="title"
                                                    placeholder="Title *"
                                                    spellcheck="true"
                                                    th:errorclass="is-invalid"
                                                    th:field="*{title}"
                                                    type="text"
                                            />
                                            <small th:errors="*{title}" th:if="${#fields.hasErrors('title')}">Please add
                                                article content.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="category">Category: </label>
                                            <select
                                                    th:errorclass="is-invalid"
                                                    th:field="*{category}"
                                                aria-describedby="category"
                                                class="form-control"
                                                id="category"
                                                name="category">
                                                <option value="">Select category</option>
                                                <option th:each="c : ${categories}"
                                                        th:text="${c.name}"
                                                        th:value="${c.name}"
                                                ></option>
                                            </select>
                                            <small th:errors="*{category}" th:if="${#fields.hasErrors('category')}">Category
                                                must be selected.</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="image">Image: </label>
                                                <input
                                                        aria-describedby="image"
                                                        class="form-control"
                                                        id="image"
                                                        name="image"
                                                        th:errorclass="is-invalid"
                                                        th:field="*{image}"
                                                        type="file"

                                                />
                                                <small th:errors="*{image}" th:if="${#fields.hasErrors('image')}">Please
                                                    select an image to be uploaded.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mb-5 mb-sm-2">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="content">Content:</label>
                                                    <textarea class="form-control textarea"
                                                              id="content"
                                                              name="content"
                                                              placeholder="Article text ..."
                                                              th:errorclass="is-invalid"
                                                              th:field="*{content}"></textarea>
                                                    <small th:errors="*{content}"
                                                           th:if="${#fields.hasErrors('content')}">Please type article
                                                        content.</small>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="author">Author username: </label>
                                                    <input
                                                            aria-describedby="author"
                                                            class="form-control"
                                                            id="author"
                                                            name="author"
                                                            placeholder="Author name *"
                                                            readonly="readonly"
                                                            th:value="${author}"
                                                            type="text"
                                                    />
                                                </div>
                                            </div>
                                            <!--                                            <div class="col-sm-6">-->
                                            <!--                                                <div class="form-group">-->
                                            <!--                                                    <label for="article">Author email: </label>-->
                                            <!--                                                    <input-->
                                            <!--                                                            aria-describedby="email"-->
                                            <!--                                                            class="form-control"-->
                                            <!--                                                            disabled="disabled"-->
                                            <!--                                                            id="email"-->
                                            <!--                                                            name="author"-->
                                            <!--                                                            placeholder="Email *"-->
                                            <!--                                                            th:value="${authorEmail}"-->
                                            <!--                                                            type="email"-->
                                            <!--                                                    />-->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <button
                                                            class="btn btn-lg btn-dark font-weight-bold mt-3"
                                                            type="submit">
                                                        Post article
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller ends -->
<!-- partial:../partials/_footer.html -->
<th:block th:include="~{fragments/_footer}"></th:block>

<!-- partial -->
<!-- inject:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->

<script src="/vendors/aos/dist/aos.js/aos.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="/js/demo.js"></script>
<script src="/js/jquery.easeScroll.js"></script>
<!-- End custom js for this page-->
</body>
</html>
