<!DOCTYPE html>
<html lang="zxx" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragments/head}"></th:block>


<!--private String title;
    private String content;
    private UserEntity author;
    private CategoryEntity category;
    private Set<CountryEntity> countries = new HashSet<>();
    private Set<CommentEntity> comments = new HashSet<>();
    private int views;
    private LocalDateTime addedOn;
    private String imageUrl;-->

<body>
<div class="container-scroller">
    <!-- partial:../partials/_navbar.html -->
    <th:block th:include="~{fragments/_navbar}"></th:block>


    <div class="content-wrapper">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="col-lg-3 stretch-card grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h2>Category</h2>
                            <ul class="vertical-menu">
                                <li sec:authorize="hasAuthority('ROLE_ADMIN')">Users
                                    <ul>
                                        <li><a th:href="@{/users/list}">All users</a></li>
                                        <li><a th:href="@{/roles}">Set user's role</a></li>
                                    </ul>
                                </li>
                                <li>Articles
                                    <ul>
                                        <li><a th:href="@{news/list}">All articles</a></li>
                                        <li><a th:href="@{/news/add}">Add news article</a></li>
                                    </ul>
                                </li>
                                <li sec:authorize="hasAuthority('ROLE_ADMIN')">Logs
                                    <ul>
                                        <li><a th:href="@{logs/new-users}">New users log</a></li>
                                    </ul>
                                    <ul>
                                        <li><a th:href="@{logs/errors}">Errors log</a></li>
                                    </ul>
                                </li>
                                <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="#">Site statistics</a></li>
<!--                                <li><a href="#">Jobs</a></li>-->
<!--                                <li><a href="#">Media</a></li>-->
<!--                                <li><a href="#">Administration</a></li>-->
<!--                                <li><a href="#">Sports</a></li>-->
<!--                                <li><a href="#">Game</a></li>-->
<!--                                <li><a href="#">Art</a></li>-->
<!--                                <li><a href="#">Kids</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 stretch-card grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img
                                                    src="/img/dashboard/home_1.jpg"
                                                    alt="thumb"
                                                    class="img-fluid"
                                            />
                                        </div>
                                        <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold"
                            >Flash news</span
                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8  grid-margin">
                                    <h2 class="mb-2 font-weight-600">
                                        South Korea’s Moon Jae-in sworn in vowing to address
                                        North
                                    </h2>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2">Photo </span>10 Minutes ago
                                    </div>
                                    <p class="mb-0">
                                        Lorem Ipsum has been the industry's standard dummy
                                        text ever since the 1500s, when an
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img
                                                    src="/img/dashboard/home_1.jpg"
                                                    alt="thumb"
                                                    class="img-fluid"
                                            />
                                        </div>
                                        <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold"
                            >Flash news</span
                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8  grid-margin">
                                    <h2 class="mb-2 font-weight-600">
                                        No charges over 2017 Conservative battle bus cases
                                    </h2>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2">Photo </span>10 Minutes ago
                                    </div>
                                    <p class="mb-0">
                                        Lorem Ipsum has been the industry's standard dummy
                                        text ever since the 1500s, when an
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img
                                                    src="/img/dashboard/home_2.jpg"
                                                    alt="thumb"
                                                    class="img-fluid"
                                            />
                                        </div>
                                        <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold"
                            >Flash news</span
                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h2 class="mb-2 font-weight-600">
                                        Kaine: Trump Jr. may have committed treason
                                    </h2>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2">Photo </span>10 Minutes ago
                                    </div>
                                    <p class="mb-0">
                                        Lorem Ipsum has been the industry's standard dummy
                                        text ever since the 1500s, when an
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller ends -->
<!-- partial:../partials/_footer.html -->
<th:block th:include="~{fragments/_footer}"></th:block>

<!-- partial -->
<!-- inject:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->

<script src="/vendors/aos/dist/aos.js/aos.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="/js/demo.js"></script>
<script src="/js/jquery.easeScroll.js"></script>
<!-- End custom js for this page-->
</body>
</html>
