<!DOCTYPE html>
<html lang="zxx" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="https://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>


<body onload=loadComments()>
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:../partials/_navbar.html -->
        <th:block th:include="~{fragments/_navbar}"></th:block>

        <!-- partial -->
        <!--        <th:block th:include="~{fragments/flash-news-banner}"></th:block>-->
        <div class="content-wrapper">
            <div class="container">
                <div class="col-sm-12" th:object="${newsViewModel}">
                    <input id="news-id" name="news-id" th:value="${newsViewModel.id}" type="hidden">
                    <div class="card" data-aos="fade-up">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="font-weight-600 mb-4" th:text="*{title}"></h1>
                                    <span class="date-label" th:text="${#temporals.format(date,'dd-MMM|HH:mm')}"></span>
                                    <span class="views-comments-label"
                                          th:text="|Views: *{views}, Comments: *{comments.size()}|"></span>
                                    <img alt="" class="article-main-image" height="600" th:src="*{imageUrl}"
                                         width="1000">
                                    <p class="news-article-paragraph" th:each="p : ${paragraphs}" th:text="${p}"></p>
                                    <p th:text="|Author: *{author.firstName} *{author.lastName}|"></p>
                                    <p><a href="/contactus" th:text="*{author.email}"></a></p>
                                    <img alt="author-photo" style="width:50px;height:50px;" th:src="*{author.imageUrl}">
                                </div>
                            </div>

                            <div class="rounded embed-responsive embed-responsive-16by9" th:if="*{videoUrl != null}">
                                <iframe allowfullscreen class="embed-responsive-item"
                                        th:src="@{'https://www.youtube.com/embed/' + *{videoUrl}}">
                                </iframe>
                            </div>

                        </div>
                        <div class="container">
                            <h3>Comments</h3>
                            <div
                                    class="card-body"
                                    sec:authorize="isAuthenticated()">
                                <!--                                <form>-->
                                <div class="form-group">
                                    <label for="from-username">User:</label>
                                    </br>
                                    <input id="from-username"
                                           readonly="readonly"
                                           th:value="${loggedUsername}"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <input
                                            id="csrf-token"
                                            th:name="${_csrf.parameterName}"
                                            th:value="${_csrf.token}"
                                            type="hidden"/>
                                    <label for="comment-input-content">Comment:</label>
                                    </br>
                                    <textarea
                                            class="comment-input-content"
                                            id="comment-input-content"
                                            placeholder="Add a comment..."
                                            style="width:300px;height:100px"
                                            type="text"></textarea>
                                </div>
                                <div class="form-group">
                                    <button id="send-comment-btn" onclick=addComment()>Send comment</button>
                                </div>
                                <!--                                </form>-->
                            </div>
                            <div
                                    class="login-box-comments"
                                    id="login-box"
                                    sec:authorize="!isAuthenticated()">
                                <p>Please login to add a comment.</p>
                                <nav>
                                    <a class="nav-item" href="/users/login">Login</a>
                                    <a class="nav-item" href="/users/register">Register</a>
                                </nav>
                            </div>
                            <div class="card-body" id="comments-section">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
        <!-- container-scroller ends -->

        <!-- partial:../partials/_footer.html -->
        <th:block th:include="~{fragments/_footer}"></th:block>

        <!-- partial -->
    </div>
</div>
<!-- inject:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->

<script src="/vendors/aos/dist/aos.js/aos.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="/js/demo.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/jquery.easeScroll.js"></script>
<!-- End custom js for this page-->
</body>
</html>
