<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="https://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>


<body>
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:../partials/_navbar.html -->
        <th:block th:include="~{fragments/_navbar}"></th:block>

        <!-- partial -->
        <!--        <th:block th:include="~{fragments/flash-news-banner}"></th:block>-->
        <div class="content-wrapper">
            <div class="container">
                <div class="col-sm-12">
                    <div class="card" data-aos="fade-up">
                        <div class="card-body" th:object="${userEditBindingModel}">

                            <form method="POST"
                                  th:action="@{/users/profile/changePassword/{username}(username = ${loggedUsername})}"
                                  th:object="${userEditBindingModel}">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <label class="user-profile-field-label" for="password">New password: </label>
                                            <input
                                                    class="form-control"
                                                    id="password"
                                                    placeholder="New password..."
                                                    th:errorclass="is-invalid" th:field="*{password}"
                                                    type="password">
                                            <small class="invalid-feedback" id="passwordError">
                                                Invalid password! Passwords should match, must be at least 8 characters
                                                long
                                                and contain:
                                                <br> - at least one uppercase letter
                                                <br> - at least one lowercase letter
                                                <br> - at least one number
                                                <br> - at least one special character
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="user-profile-field-label" for="confirmPassword">Confirm new password:</label>
                                            <input
                                                    class="form-control"
                                                    id="confirmPassword"
                                                    placeholder="Confirm new password..."
                                                    th:errorclass="is-invalid"
                                                    th:field="*{confirmPassword}"
                                                    type="password">
                                            <small class="invalid-feedback" id="confirmPasswordError">
                                                Passwords not matching!
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                </br>
                                <div class="row">
                                    <button class="btn btn-primary" style="float: right" type="submit">Save</button>
                                </div>
                            </form>
                            <div class="row">
                                <a th:href="@{/users/profile/show/{username}(username = ${loggedUsername})}">
                                    <button class="btn btn-primary" style="background-color: darkred; float: left">
                                        Cancel
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
    <!-- container-scroller ends -->

    <!-- partial:../partials/_footer.html -->
    <th:block th:include="~{fragments/_footer}"></th:block>

    <!-- partial -->
</div>
</div>
<!-- inject:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->

<script src="/vendors/aos/dist/aos.js/aos.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="/js/demo.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/jquery.easeScroll.js"></script>
<!-- End custom js for this page-->
</body>
</html>
