<!DOCTYPE html>
<html lang="zxx" xmlns:th="https://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>

<body>
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:partials/_navbar.html -->
        <th:block th:include="~{fragments/_navbar}"></th:block>

        <!-- partial -->
        <th:block th:include="~{fragments/flash-news-banner}"></th:block>
        <div class="content-wrapper">
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <div class="col-xl-8 stretch-card grid-margin" th:object="${mostCommentedNews}">
                        <a class="news-item" th:href="@{/news/{id}(id = *{id})}">
                            <div class="position-relative">

                                <img
                                        alt="banner"
                                        class="img-fluid"
                                        style="width:800px;height:400px;"
                                        th:src="*{imageUrl}"
                                />
                                <div class="banner-content">
                                    <span class="mr-2" th:text="*{category.name}">Photo </span>
                                    <h1 class="mb-2" th:text="*{title}"></h1>
                                    <div class="fs-12">
                                        <span class="date-label"
                                              th:text="${#temporals.format(mostCommentedNews.addedOn,'dd-MMM|HH:mm')}"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <h2 class="mb-4 text-primary font-weight-600">
                            Latest news
                        </h2>
                        <div class="row" th:each="news : ${latestNews}" th:object="${news}">
                            <a th:href="@{/news/{id}(id = *{id})}">
                                <div class="col-sm-12">
                                    <div class="border-bottom pb-4 pt-4">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h5 class="font-weight-600 mb-1" th:text="*{title}">
                                                    Ways to stay social online while in self..
                                                </h5>
                                                <p class="fs-13 text-muted mb-0">
                                                    <span class="mr-2" th:text="*{category.name}">Photo </span>
                                                    <span style="float: right"
                                                          th:text="${#temporals.format(news.addedOn, 'dd-MMM|HH:mm')}"></span>
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="rotate-img">
                                                    <img
                                                            alt="banner"
                                                            class="img-fluid"
                                                            th:src="*{imageUrl}"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-3 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2>Category</h2>
                                <ul class="vertical-menu">
                                    <li th:each="c : ${categories}" th:object="${c}"><a href="#" th:text="*{name}">Politics</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2>Popular</h2>
                                <div class="row" th:each="n : ${newsWithMoreThan10Views}" th:object="${n}">
                                    <div class="col-sm-4 grid-margin">
                                        <div class="position-relative">
                                            <a th:href="@{/news/{id}(id = *{id})}">
                                                <div class="rotate-img">
                                                    <img
                                                            alt="thumb"
                                                            class="img-fluid"
                                                            th:src="*{imageUrl}"
                                                    />
                                                </div>
                                                <div class="badge-positioned w-90" th:if="*{videoUrl != null}">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="video-icon">
                                                            <i class="mdi mdi-play"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8  grid-margin">
                                        <a th:href="@{/news/{id}(id = *{id})}">
                                            <h2 class="mb-2 font-weight-600" th:text="*{title}"></h2>
                                        </a>
                                        <div class="fs-13 mb-2">
                                            <span class="mr-2" th:text="*{category.name}">Photo </span>
                                            <span style="float: right"
                                                  th:text="${#temporals.format(n.addedOn, 'dd-MMM|HH:mm')}"></span>
                                        </div>
                                        <p class="fs-15" th:text="|*{content.substring(0, 200)} ...|"></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-aos="fade-up">
                    <div class="col-sm-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="card-title">
                                            Video
                                        </div>

                                        <div class="row" th:each="n : ${topVideoNews}" th:object="${n}">

                                            <div class="col-sm-6 grid-margin">
                                                <div class="position-relative">
                                                    <a th:href="@{/news/{id}(id = *{id})}">
                                                        <div class="rotate-img">
                                                            <img
                                                                    alt="thumb"
                                                                    class="img-fluid"
                                                                    th:src="*{imageUrl}"
                                                            />
                                                        </div>
                                                    </a>
                                                    <div class="badge-positioned w-90">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="video-icon">
                                                                <i class="mdi mdi-play"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 grid-margin">
                                                <a th:href="@{/news/{id}(id = *{id})}">
                                                    <h3 th:text="*{title}"></h3>
                                                </a>
                                                <div class="col-sm-12">
                                                    <p th:text="|*{content.substring(0, 150)} ...|"></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="card-title">
                                                Latest Video
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center border-bottom pb-2"
                                             th:each="vn : ${latestVideoNews}"
                                             th:object="${vn}">
                                            <a th:href="@{/news/{id}(id = *{id})}">
                                            <h5 class="font-weight-200 mb-0" th:text="*{title}"></h5>
                                            </a>
                                            <div class="fs-13 mb-2"></div>
                                            <div class="div-w-80 mr-3">
                                                <div class="rotate-img">
                                                    <img
                                                            alt="thumb"
                                                            class="img-fluid"
                                                            th:src="*{imageUrl}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
        <!-- container-scroller ends -->

        <!-- partial:partials/_footer.html -->
        <th:block th:include="~{fragments/_footer}"></th:block>

        <!-- partial -->
    </div>
</div>
<!-- inject:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="/vendors/aos/dist/aos.js/aos.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="/js/demo.js"></script>
<script src="/js/jquery.easeScroll.js"></script>
<!-- End custom js for this page-->
</body>
</html>
