<!DOCTYPE html>
<html lang="zxx" xmlns:th="https://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>


<body onload="newsPagination()">
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:../partials/_navbar.html -->
        <th:block th:include="~{fragments/_navbar}"></th:block>

        <!-- partial -->
        <!--        <th:block th:include="~{fragments/flash-news-banner}"></th:block>-->
        <div class="content-wrapper">
            <div class="container">
                <div class="col-sm-12">
                    <div class="card" data-aos="fade-up">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="font-weight-600 mb-4">
                                        NEWS
                                    </h1>
                                </div>
                            </div>
                            <div class="row"> <!-- th:each for all news items from DB -->
                                <div class="col-lg-8 pagination-wrapper" id="news-wrapper"></div>
                                <div class="col-lg-4">
                                    <h2 class="mb-4 text-primary font-weight-600">
                                        Latest news
                                    </h2>
                                    <div class="row" th:each="news : ${latestNews}" th:object="${news}">
                                        <a th:href="@{/news/{id}(id = *{id})}">
                                            <div class="col-sm-12">
                                                <div class="border-bottom pb-4 pt-4">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <h5 class="font-weight-600 mb-1" th:text="*{title}">
                                                                Ways to stay social online while in self..
                                                            </h5>
                                                            <p class="fs-13 text-muted mb-0">
                                                                <span class="mr-2"
                                                                      th:text="*{category.name}">Photo </span>
                                                                <span style="float: right"
                                                                      th:text="${#temporals.format(news.addedOn, 'dd-MMM|HH:mm')}"></span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="rotate-img">
                                                                <img
                                                                        alt="banner"
                                                                        class="img-fluid"
                                                                        th:src="*{imageUrl}"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="trending">
                                        <h2 class="mb-4 text-primary font-weight-600">
                                            Trending
                                        </h2>
                                        <div class="row" th:each="news : ${trending}" th:object="${news}">
                                            <a th:href="@{/news/{id}(id = *{id})}">
                                                <div class="col-sm-12">
                                                    <div class="border-bottom pb-4 pt-4">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <h5 class="font-weight-600 mb-1" th:text="*{title}">
                                                                    Ways to stay social online while in self..
                                                                </h5>
                                                                <p class="fs-13 text-muted mb-0">
                                                                    <span class="mr-2"
                                                                          th:text="*{category.name}">Photo </span>
                                                                    <span style="float: right"
                                                                          th:text="${#temporals.format(news.addedOn, 'dd-MMM|HH:mm')}"></span>
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="rotate-img">
                                                                    <img
                                                                            alt="banner"
                                                                            class="img-fluid"
                                                                            th:src="*{imageUrl}"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="pagination" class="page-numbers"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
        <!-- container-scroller ends -->

        <!-- partial:../partials/_footer.html -->

        <!-- partial -->
        <th:block th:include="~{fragments/_footer}"></th:block>
    </div>
</div>
<!-- inject:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->

<script src="/vendors/aos/dist/aos.js/aos.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script th:src="@{/js/demo.js}"></script>
<script th:src="@{/js/jquery.easeScroll.js}"></script>
<script th:src="@{/js/newsPagination.js}"></script>
<!-- End custom js for this page-->
</body>
</html>
